In [40]:
from TM1py.Services import TM1Service
from TM1py.Utils import Utils

tm1_src = TM1Service(address="localhost", port=6023, ssl=True, user="admin", password="")
tm1_tgr = TM1Service(address="localhost", port=30012, ssl=False, user="admin", password="")
cubename='}ElementAttributes_Year Month'

mdx='''SELECT
       NON EMPTY
       {[Year Month].[Year Month].Members} 
       ON ROWS ,
    NON EMPTY
       {[}ElementAttributes_Year Month].[}ElementAttributes_Year Month].Members}
       ON COLUMNS 
       FROM [}ElementAttributes_Year Month] '''
#Clear data
tm1_tgr.cells.clear_with_mdx(cubename,mdx)

#cells = tm1_src.cubes.cells.execute_mdx(mdx, skip_rule_derived_cells=True, skip_zeros=True, element_unique_names=False,
                                        #skip_cell_properties=True)
#元组字典    
cells=tm1_src.cubes.cells.execute_mdx(mdx,skip_rule_derived_cells=True,skip_zeros=True)
#to pandas DataFrame
df = Utils.build_pandas_dataframe_from_cellset(cells)
#Writing to tgr Cube
tm1_tgr.cells.write_dataframe(
        cube_name=cubename,
        #restore columns
        data=df.reset_index(),
        dimensions=['Year Month', '}ElementAttributes_Year Month'],
        increment=False,
        deactivate_transaction_log=True,
        reactivate_transaction_log=True,
        sandbox_name=None,
        use_ti=True,
        use_changeset=False)

In [41]:
df

                                                            Values
Year Month        }ElementAttributes_Year Month
Year Month Rollup mm/YYYY                        Year Month Rollup
                  mm/YY                          Year Month Rollup
                  YYYYMM                         Year Month Rollup
                  YYYY-MM                        Year Month Rollup
                  MMM-YY                         Year Month Rollup
...                                                            ...
Next Quarter      YYYYMM                              Next Quarter
                  YYYY-MM                             Next Quarter
                  MMM-YY                              Next Quarter
                  MMM YYYY                            Next Quarter
                  MMM YY                              Next Quarter

[3642 rows x 1 columns]